### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli_data = "../HeroesofPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_df = pd.read_csv(pymoli_data)
game_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#game_df.columns

## Player Count

* Display the total number of players

In [3]:
#count non-duplicate players
player_count = len(game_df["SN"].unique())
pd.DataFrame({"Player Count":[player_count]})

   Player Count
0           576

In [4]:
player_count = len(game_df["SN"].unique())
pd.DataFrame({"Player Count":[player_count]})
player_df = game_df.loc[:,["Gender", "SN", "Age"]]
updated_player_df = player_df.drop_duplicates()
updated_player_df

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# calculate number of unique items
unique_items = len(game_df["Item ID"].unique())
print(unique_items)
# calculate average price
avg_price = (game_df["Price"].mean())
print(avg_price)
# calculate number of purchases
count_purchases =(game_df["Purchase ID"].count())
print(count_purchases)
# calculate total revenue generated
total_revenue = (game_df["Price"].sum())
print(total_revenue)

183
3.050987179487176
780
2379.77

In [6]:
purchasing_analysis = pd.DataFrame({"Unique Items": [unique_items],
                                    "Average Price": [avg_price],
                                    "Number of Purchases": [count_purchases],
                                    "Total Revenue": [total_revenue]})
purchasing_analysis

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183       3.050987                  780        2379.77

In [7]:
purchasing_analysis = purchasing_analysis.round(2)
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Number of Purchases"] = purchasing_analysis["Number of Purchases"].map("{:,}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis = purchasing_analysis.loc[:, ["Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purchasing_analysis

   Unique Items Average Price Number of Purchases Total Revenue
0           183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# Number of gender players

gender_count = updated_player_df["Gender"].value_counts()
print(gender_count)

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
gender_percentage = (gender_count/player_count)
gender_percentage

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [10]:
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage": gender_percentage})
gender_demographics["Percentage"] = gender_demographics["Percentage"].map("{:,.2%}".format)
gender_demographics

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
total_gender_purchase_df = pd.DataFrame(game_df.loc[:,["Gender", "Price", "Purchase ID"]])
total_gender_purchase_df

     Gender  Price  Purchase ID
0      Male   3.53            0
1      Male   1.56            1
2      Male   4.88            2
3      Male   3.27            3
4      Male   1.44            4
..      ...    ...          ...
775  Female   3.54          775
776    Male   1.63          776
777    Male   3.46          777
778    Male   4.19          778
779    Male   4.60          779

[780 rows x 3 columns]

In [12]:
#Total Purchase Value *DO NOT CHANGE*

gender_purchase = total_gender_purchase_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")


#print(gender_purchase)
# total_gender_purchase = pd.DataFrame(gender_purchase["Price"]).rename("Total Purchase Value")
gender_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [13]:
gender_average = total_gender_purchase_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [14]:
gender_count_purchase = total_gender_purchase_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_count_purchase

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [18]:
# TypeError: 'DataFrame' object is not callable??!!!!


total_avg_purchase = gender_purchase / gender_demographics["Total Count"]
total_avg_purchase

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [23]:
gender_purchasing_analysis = pd.DataFrame({"Purchase Count": gender_count,
                                            "Average Purchase Price": gender_percentage,
                                           "Total Purchase Value": gender_count_purchase,
                                            "Average Total Purchase Per Person": total_avg_purchase})


gender_purchasing_analysis["Average Purchase Price"] = gender_purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
gender_purchasing_analysis["Total Purchase Value"] = gender_purchasing_analysis["Total Purchase Value"].map("${:,.2f}".format)
gender_purchasing_analysis["Average Total Purchase Per Person"] = gender_purchasing_analysis["Average Total Purchase Per Person"].map("${:,.2f}".format)
gender_purchasing_analysis["Purchase Count"]= gender_purchasing_analysis["Purchase Count"].map("{:,}".format)
gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Female,81,$0.14,$113.00,$4.47
Male,484,$0.84,$652.00,$4.07
Other / Non-Disclosed,11,$0.02,$15.00,$4.56

## Age Demographics

In [24]:
# Establish bins for ages
bins_for_ages = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9,39.9,99]

# * Categorize the existing players using the age bins. Hint: use pd.cut()
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# * Calculate the numbers and percentages by age group
updated_player_df["Age Category"] = pd.cut(updated_player_df["Age"], bins_for_ages, labels = bin_names)
updated_player_df
# * Create a summary data frame to hold the results
age_counts = updated_player_df["Age Category"].value_counts()
#print(age_counts)
# * Optional: round the percentage column to two decimal points
age_percentage = age_counts/player_count
#print(age_percentage)
# * Display Age Demographics Table
age_demographics = pd.DataFrame({"Total Count": age_counts,
                                    "Percentage": age_percentage})
age_demographics["Percentage"] = age_demographics["Percentage"].map("{:,.2%}".format)
age_demographics = age_demographics.sort_index()
age_demographics

/Users/Bons/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percentage
<10             17      2.95%
10-14           22      3.82%
15-19          107     18.58%
20-24          258     44.79%
25-29           77     13.37%
30-34           52      9.03%
35-39           31      5.38%
40+             12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Establish bins for ages
bins_for_ages = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9,39.9,99]

# * Categorize the existing players using the age bins. Hint: use pd.cut()
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame